<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.DongZero.mapper.TheaterMapper">
  <select id="selectTheaterList"  resultType="com.itwillbs.DongZero.vo.TheaterVO">
  	SELECT * FROM THEATERS;
  </select>
  
  <select id="selectTicketTypeList" resultType="com.itwillbs.DongZero.vo.TicketTypeVO">
 	SELECT * FROM TICKET_TYPES;
 </select>
  
  <select id="selectTheater"  resultType="com.itwillbs.DongZero.vo.TheaterVO">
  	SELECT * FROM THEATERS
  	WHERE theater_num = #{theater_num};
  </select>
  
   <select id="selectSchedule" resultType="com.itwillbs.DongZero.vo.ScheduleVO">
	SELECT movie_name_kr
		,room_name,play_start_time
		,movie_grade,p.room_num,movie_genre
		,movie_running_time, movie_release_date
		,p.play_num
		,if(DATE_ADD( play_start_time, INTERVAL (movie_running_time)MINUTE)>'24:00:00',DATE_SUB(DATE_ADD( play_start_time, INTERVAL (movie_running_time)MINUTE), INTERVAL 24 HOUR),DATE_ADD( play_start_time, INTERVAL (movie_running_time)MINUTE)) AS end_time
		,play_time_type
		,movie_name_en  
	FROM PLAYS p
		JOIN MOVIES m 
			ON m.movie_num=p.movie_num
		JOIN ROOMS r 
			ON r.room_num =p.room_num
	WHERE play_date=#{play_date} 
		AND p.theater_num=#{theater_num}
		AND concat(p.play_date,' ',p.play_start_time) >= DATE_ADD(SYSDATE(), interval 20 minute)
	ORDER BY movie_name_kr
			,p.room_num
			,play_start_time; 

   </select>
 
 	
</mapper>
